includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        # - app/
        # - app/Http/Controllers
        - app/Http

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @param references unknown parameter: \$request#'
#
    excludePaths:
#        - ./*/*/FileToBeExcluded.php
        # - app/Http/Controllers # Controllers配下を除外
        - app/Http/Controllers/UserController.php # UserController.phpのみ除外
#    checkMissingIterableValueType: false